<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>notifications</title>
    <style>
        
        .top{
            background-color: gray;
            width: 60%;
        }
        h2{
            background-color: tomato;
            width: 60%;
            padding-top: 0px;
        }
        button{
         height: 30px; 
         width: 100px;  
         background-color: rebeccapurple;
         
        }
        .notifs{
            padding-top: 0%x;
        }
    </style>
</head>
<body>
    <div class="top">
   <h1>
       notifications
   </h1>
    </div>
    <div class="notifs">
        <h2>received notification</h2>
        <textarea name="notifiction" id="notification" cols="112" rows="10"></textarea>
        <h2>sent notification</h2>
        <textarea name="notifiction" id="notification" cols="112" rows="10"></textarea><br>
        <button type="submit">submit</button>
        
    </div>
    
</body>
</html>